.buttonbar {
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.buttonbar_button {
  margin-left: 10px;
}

.minipiecharts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.form {
  display: flex;
  justify-content: center;
}
