.buttonbar {
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.buttonbar_button {
  margin-left: 10px;
}

.piecharts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
